html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#header {
    padding: 10px;
    /*background: #5ee;*/
    padding-top: 1px;
    padding-right: 21px;
    text-align: right;
}

#content {
    padding: 10px;
    margin-top: 115px;
    padding-bottom: 18px;   /* Height of footer element. */
    text-align: center;
}

#logo {
    width: 22%;
}

#footer {
    width: 96.9%;
    height: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 14px;
    /*padding-bottom: 10px;*/
    /*background: #F0F0F0; */
    /*vertical-align: middle;*/
    border-top: 1px solid lightgray;
}

#left_foot {
    display: inline;
    text-align: left;
    /*margin-top: 30px;*/
    /*vertical-align: middle;*/
    /*line-height: 20px;*/
}

#right_foot {
    /*text-align: right;*/
    display: inline;
    padding-left: 800px;
    /*padding-bottom: 15px;*/
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#query {
    height: 23px;
    display: inline-block;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

#mic {
    height: 19px;
    display: inline-block;
    margin-left: -27px;
    margin-bottom: -5px;
}

#submits {
    margin-top: 10px;
    text-align: center;
    font-size: 29px;
}

.submit_buttons {
    margin: 3px;
    padding: 6px;
    /*background: #F0F0F0;*/
    background: white;
    border: 1px solid lightgray;
}

.submit_buttons:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-left: 7px;
}

.footer_item {
    display: inline;
    margin-left: 18px;
}

#first_footer_item {
    display: inline;
    margin-left: -2px;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.resize {
    display: inline;
    width: 20px;
    /*height: auto;*/
    margin-left: 10px;
    margin-top: 0px;
}
/*#query {*/
    /*display: block;*/
/*}*/
