html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#header {
    padding: 10px;
    /*background: #5ee;*/
    padding-top: 2px;
    padding-right: 21px;
    text-align: right;
}

#content {
    padding: 10px;
    margin-top: 90px;
    padding-bottom: 20px;   /* Height of footer element. */
    text-align: center;
}

#footer {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #F0F0F0; 
}

#left_foot {
    display: inline;
    text-align: left;
    margin-top: 30px;
}

#right_foot {
    /*text-align: right;*/
    display: inline;
    padding-left: 800px;
    padding-top: 30px;
    /*padding-bottom: 15px;*/
}

img {
    display: block;
    /*position: absolute;*/
    /*width: 35%;*/
    /*margin-top: 195px;*/
    /*margin-left: 440px;*/
    /*margin-right: 100px;*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    margin-left: auto;
    margin-right: auto;
}

#query {
    height: 23px;
    display: inline-block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#mic {
    height: 19px;
    display: inline-block;
    margin-left: -27px;
    margin-bottom: -6px;
}

#submits {
    margin-top: 10px;
    text-align: center;
    font-size: 22px;
}

.submit_buttons {
    margin: 2px;
    padding: 6px;
    background: #F0F0F0;
    border: 1px solid lightgray;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-left: 7px;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.resize {
    display: inline;
    width: 20px;
    /*height: auto;*/
    margin-left: 10px;
    margin-top: 0px;
}
/*#query {*/
    /*display: block;*/
/*}*/
