img {
    display: block;
    position: absolute;
    width: 500px;
    margin-top: 190px;
    margin-left: 380px;
    /*margin-right: 100px;*/
}

form {
    /*display: block;*/
    position: absolute;
    margin-top: 390px; 
    margin-left: 445px;
    /*margin-right: auto;*/
    /*width: 500px;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*#query {*/
    /*display: block;*/
/*}*/
