img {
    display: block;
    /*position: absolute;*/
    width: 35%;
    margin-top: 195px;
    /*margin-left: 440px;*/
    /*margin-right: 100px;*/
    margin-left: auto;
    margin-right: auto;
}

form {
    display: block;
    /*position: absolute;*/
    margin-top: 10px; 
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#query {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    /*position: absolute;*/
    margin-top: 10px;
    margin-left: 930px;
    padding: 0;
}

li {
    display: inline;
    text-decoration: none;
    color: black;
    margin-left: 5px;
}

li:hover {
    text-decoration: underline;
}

.resize {
    display: inline;
    width: 23px;
    height: auto;
    padding: 0;
    margin-left: 8px;
    margin-top: 0px;
}
/*#query {*/
    /*display: block;*/
/*}*/
