html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#header {
    padding: 10px;
    /*background: #5ee;*/
    padding-top: 1px;
    padding-right: 21px;
    text-align: right;
}

#content {
    padding: 10px;
    margin-top: 115px;
    padding-bottom: 15px;   /* Height of footer element. */
    text-align: center;
}

#logo {
    width: 22%;
}

#footer {
    width: 96.9%;
    height: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 14px;
    /*padding-bottom: 10px;*/
    /*background: #F0F0F0; */
    /*vertical-align: middle;*/
    border-top: 1px solid #E0E0E0;
}

#left_foot {
    display: inline;
    text-align: left;
    /*margin-top: 30px;*/
    /*vertical-align: middle;*/
    /*line-height: 20px;*/
}

#right_foot {
    /*text-align: right;*/
    display: inline;
    padding-left: 800px;
    /*padding-bottom: 15px;*/
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#query {
    height: 23px;
    display: inline-block;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

#mic {
    height: 19px;
    display: inline-block;
    margin-left: -27px;
    margin-bottom: -5px;
}

#submits {
    margin-top: 10px;
    text-align: center;
    font-size: 29px;
}

.submit_buttons {
    margin: 3px;
    margin-left: 4px;
    padding: 6px;
    /*background: #F0F0F0;*/
    background: white;
    border: 1px solid #C1C1C1;
}

.submit_buttons:hover {
    /*text-decoration: underline;*/
    border-color: #c6c6c6;
    color: #222!important;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
    background: #f8f8f8;
    background: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-left: 6px;
}

.footer_item {
    display: inline;
    margin-left: 18px;
}

#first_footer_item {
    display: inline;
    margin-left: -2px;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.footer_link {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.footer_link:hover {
    text-decoration: underline;
}

.resize {
    display: inline;
    /*width: 20px;*/
    width: auto;
    height: 18px;
    /*height: auto;*/
    margin-left: 10px;
    margin-top: 0px;
}

#bell {
    display: inline;
    width: 15.5px;
    height: auto;
    margin-left: 10px;
    margin-top: 2px;
}

#share {
    border: 1px solid #C1C1C1;
    padding: 1px 4px;
    padding-top: 5px;
    margin-left: 9px;
    /*margin-top: -2px;*/
    /*margin-bottom: 2px;*/
    font-size: 14.5px;
}

#share:hover {
    background-color: #F4F4F4;
    text-decoration: none;
}

#profile {
    display: inline;
    width: 27.5px;
    height: auto;
    margin-left: 8px;
    margin-top: 0px;
    margin-right: 4px;
}
/*#query {*/
    /*display: block;*/
/*}*/
